@import url(https://db.onlinewebfonts.com/c/a3f43277f905bc0e2bfeb50c1b28d3e7?family=Roboto+Round);

.homePage {
  position: relative;

  min-height: 100vh;
  padding: 1rem;
  overflow: hidden;
}

.homePage::before {
  content: "";

  position: absolute;

  top: 0;
  left: 0;

  width: 100%;
  height: 100vw;

  background-image: url("../../assets/images/textures/textura-geral-no-bg.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: top center;

  opacity: .2;

  mask-image: linear-gradient(-180deg, black, transparent 75%);

  -webkit-mask-image: linear-gradient(-180deg, black, transparent 75%);

  pointer-events: none;

  z-index: 0;
}

.homePageContent {
  position: relative;

  z-index: 1;
}



.sectionTitles {

  font-size: 2rem;
  font-weight: 500;

  margin-bottom: 0.5rem;
}
