.header {
  height: 56px;
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
  width: 100%;
}

.profileImageContainer {
  width: 56px;
  height: auto;
  padding: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.profileImage {
  width: 100%;
  object-fit: cover;
}

.addressContainer {
  flex: 1;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgb(0 0 0 / 0.3);
  background-color: white;
}

.gpsIconContainer {
  position: relative;

  width: 1.5rem;
  height: 1.5rem;

  display: flex;
  align-items: center;
  justify-content: center;

  flex-shrink: 0;
  transform: translateX(-.125rem);
}

.address {
  font-size: 1rem;
  font-weight: 400;
  
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transform: translateX(-.125rem);
}

.hamburgerMenuContainer {
  width: 40px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
